
.floatingImage {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}
.tooltip-card{
	position: fixed !important;
    float: right;
    top: 50px;
    right: 50px;
    z-index: 100;
    width: 250px;
    display: none;
}
td:hover .tooltip-card{
    display: block !important;
}
.tooltip-content{
	font-weight: 100;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}
.heatmap_cell{
	font-weight: bolder;
	color: black !important;
}
